@media (min-width: 320px) {
  .sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    z-index: -1;
    transition: all 0.5s ease-in;
    background-color: rgba(255, 255, 255, 0.951);
  }

  .sidebar__close {
    position: absolute;
    top: -70px;
    left: 12px;
    width: 40px;
    height: 40px;
    z-index: 12;
    margin-bottom: 40px;

    border-radius: 20px;
    background: rgb(255, 62, 121);
    cursor: pointer;
    transition: all 0.5s ease-in;
  }
  .sidebar__close::before,
  .sidebar__close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s;
  }
  .sidebar__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .sidebar__close:hover {
    background: rgb(222, 64, 112);
  }

  .sidebar__content {
    position: absolute;
    padding: 18px 16px;
    width: 100%;
    height: 100%;
    left: -200px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(255, 255, 255);
    transition: all 0.5s ease;
    transform: scale(90%);

    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
      -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    background: rgb(255, 255, 255);
  }
  .sidebar__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 72px;
  }
  .sidebar__up_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;

    background: rgb(255, 62, 121);
  }
  .sidebar__up_search:hover {
    transition: 0.3s;
    background: rgb(222, 64, 112);
  }
  .sidebar__links {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 7px;
  }
  .sidebar__links_item {
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .sidebar__links_item a {
    color: rgb(27, 28, 33);
    transition: 0.3s ease;
  }
  .sidebar__links_item::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 0;
    width: 4px;
    height: 0;
    border-radius: 2px;
    background: rgb(65, 246, 215);
    transition: height 0.3s ease, top 0.3s ease;
    transform: rotate(180deg);
  }
  .sidebar__links_item.active {
    color: rgb(126, 126, 130);
  }
  .sidebar__links_item.active::before {
    height: 28px;
  }
  .sidebar__nav {
    margin-top: 32px;
    display: flex;
    gap: 16px;
  }
  .sidebar__nav_item {
    cursor: pointer;
  }
  .item__link:hover {
    transition: 0.3s;
    background: rgb(192, 55, 96);
  }
  .sidebar__mail {
    display: block;
    margin-top: 16px;

    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .sidebar__mail:hover {
    transition: 0.3s;
    color: rgb(192, 55, 96);
  }
  .sidebar__tel {
    margin-top: 12px;
    display: block;
    color: rgb(27, 28, 33);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .sidebar__tel:hover {
    transition: 0.3s;
    color: rgb(192, 55, 96);
  }
  .sidebar__lang {
    margin-top: 8px;
    display: flex;
    gap: 7px;
  }
  .sidebar__lang_text {
    color: rgb(27, 28, 33);
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
  }
  .sidebar__lang_active {
    transition: 0.3s ease;
    color: rgb(126, 126, 130);
  }
  .sidebar.open {
    visibility: visible;
    opacity: 1;
    left: 0;

    z-index: 10;
  }
  .sidebar.open .sidebar__content {
    left: 0;
    transform: scale(100%);
  }
  .sidebar.open .sidebar__close {
    top: 22px;
  }
}

@media (min-width: 360px) {
  .sidebar__content {
    width: 360px;
  }
}

@media (min-width: 768px) {
  .sidebar__content {
    width: 360px;
    padding: 24px;
  }
  .sidebar__close {
    left: 26px;
  }
  .sidebar__up {
    margin-left: 60px;
  }
  .sidebar__links {
    margin-top: 50px;
    margin-left: 8px;
  }
  .sidebar__nav {
    margin-top: 154px;
  }
  .sidebar__lang {
    margin-top: 20px;
  }
  .sidebar.open .sidebar__close {
    top: 30px;
  }
}
@media (min-width: 1440px) {
  .sidebar {
    float: left;
    overflow-y: auto;
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    z-index: 1;
    width: 305px;
    height: 1917px;
    transition: 0s;

    background: rgb(255, 255, 255);
  }
  .sidebar__content {
    position: relative;
    padding: 34px 31px 0px 18px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: all 0.5s ease;
    transform: scale(100%);
    background: rgb(255, 255, 255);
  }
  .sidebar__up {
    margin-left: 12px
  }
  .sidebar__links {
    gap: 28px;
    padding-left: 5px;
  }
  .sidebar__nav {
    margin-top: 180px;
    margin-left: 14px;
  }
  .sidebar__mail {
    margin-left: 14px;
  }
  .sidebar__tel {
    margin-left: 14px;
  }
  .sidebar__lang {
    margin-top: 40px;
    margin-left: 14px;
  }
}
