@media (min-width: 320px) {
  .brands {
    margin-top: 8px;
  }
  .brands__title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80px;
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    color: rgb(126, 126, 130);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    z-index: 2;
  }
  .brands__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgb(248, 248, 248),
      rgb(255, 255, 255) 98.614%
    );
    transform: rotate(180deg); /* Фон повернут */
    z-index: -1; /* Размещаем фон позади текста */
  }
  .brands__title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(217, 255, 245);
  }
  .brands__name-middle {
    display: none;
  }
  .brands__name,
  .brands__tech,
  .brands__price {
    padding: 0 16px;
  }
  .brands__price {
    width: 100%;
  }
  .brands__title_price {
    height: 56px;
  }
  .swiper {
    position: relative;
    width: 100%;
    height: 112px;
  }

  .swiper__tech {
    height: 200px;
  }

  .swiper__price {
    height: 240px;
  }

  .swiper-link {
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;
    background: rgb(255, 255, 255);
  }

  .swiper-link-tech,
  .swiper-link-price {
    position: relative;
    height: 160px;
    align-items: flex-start;
    justify-content: left;
    padding: 16px 0 0 16px;

    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .swiper-link-price {
    height: 200px;
  }

  .swiper-text {
    display: flex;
    flex-direction: column;
    gap: 16px;

    color: rgb(27, 28, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  .text-services {
    display: flex;
    flex-direction: column;
  }

  .text-span {
    display: block;
    color: rgb(126, 126, 130);
    margin-bottom: 4px;
  }

  .swiper-btn {
    position: absolute;
    width: 110px;
    height: 30px;
    right: 8px;
    bottom: 8px;
    display: flex;
    align-items: center;
    gap: 14px;
    padding-left: 12px;

    border-radius: 16px;
    background: rgb(255, 62, 121);

    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
  }

  .swiper-btn:hover {
    background: rgb(224, 55, 106);
  }

  .swiper-arrow {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 62, 121);
    border-radius: 20px;
  }

  .swiper-arrow-tech {
    position: absolute;
    bottom: 6.7%;
    right: 6.7%;
    transform: translateY(0);
  }

  .swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-inactive-color: rgb(221, 221, 221);
    --swiper-pagination-bullet-inactive-opacity: 1;
  }
  .swiper-pagination-bullet-active {
    --swiper-theme-color: rgb(181, 182, 188);
  }

  .brands__duty {
    padding: 0 16px;
    margin-bottom: 34px;

    color: rgb(27, 28, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .brands__commerce {
    display: block;
    width: 220px;
    padding-left: 16px;
    margin-bottom: 40px;

    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .brands__commerce:hover {
    transition: 0.3s;
    color: rgb(192, 55, 96);
  }
  .brands__tech-middle {
    display: none;
  }
  .brands__price-middle {
    display: none;
  }
}

@media (min-width: 768px) {
  .brands__title {
    height: 56px;
  }
  .brands__name-mobile {
    display: none;
  }
  .brands__name-middle {
    display: block;
    padding: 0;
  }
  .brands__wrapper {
    position: relative;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 56px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    grid-template-rows: 74px;
    grid-auto-rows: 74px;
  }
  .brands__link {
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;

    background: rgb(255, 255, 255);
  }
  .brands__name-hidden {
    display: none;
  }
  .brands__link-tech:hover,
  .brands__link:hover {
    box-shadow: 2px 4px rgba(255, 62, 121, 0.5);
    transition: 0.3s all;
  }
  .brands__arrow {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 62, 121);
    border-radius: 20px;
  }
  .brands__btn {
    display: flex;
    position: absolute;
    bottom: -24px;
    left: 20px;
    gap: 8px;
    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    cursor: pointer;
  }

  .brands__btn,
  .brands__name-hidden {
    transition: opacity 1s ease-out;
    opacity: 1;
  }

  .brands__btn:hover {
    transform: translateY(10%);
    transform: scale(105%);
  }

  .brands__tech-mobile {
    display: none;
  }
  .brands__tech-middle {
    display: grid;
    padding: 0;
  }
  .brands__wrapper-tech {
    grid-template-rows: 160px;
    grid-auto-rows: 160px;
  }
  .brands__link-tech {
    position: relative;
    padding: 16px;

    box-sizing: border-box;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;

    background: rgb(255, 255, 255);

    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .brands__tech-hidden {
    display: none;
  }
  .brands__price-mobile {
    display: none;
  }
  .brands__price-middle {
    display: block;
    margin: 0 auto;
    width: 720px;
    border-radius: 6px;

    border-spacing: 0;
  }
  thead {
    height: 46px;
  }
  .price__head {
    color: rgb(126, 126, 130);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;

    background: rgb(248, 248, 248);
  }
  tbody {
    background: rgb(255, 255, 255);
  }
  .price__str,
  .price__str_after {
    position: relative;
    height: 65px;
  }
  .price__str_after::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 688px;
    height: 1px;

    background: rgb(234, 234, 234);
  }
  .price__head_first {
    padding-left: 16px;
  }
  th,
  td {
    color: rgb(27, 28, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
  }
  .price__str_one {
    padding-left: 16px;
    width: 380px;
  }
  .price__str_rest {
    width: 102px;
  }
  .price__str_last {
    padding-right: 16px;
  }
  .price__str_btn {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 12px;
    width: 119px;
    height: 32px;

    border-radius: 16px;
    background: rgb(255, 62, 121);
    color: rgb(255, 255, 255);

    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
  }
  .price__str_btn:hover {
    transition: 0.3s;
    background: rgb(222, 64, 112);
  }
  .price__str_btn::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 0;
    width: 24px;
    height: 24px;
    background: url("../../assets/icons/arrow-btn.png") no-repeat;
  }
  .brands__duty {
    margin: 0 auto;
    margin-top: 24px;
    padding-right: 310px;
    width: 750px;
  }
  .brands__commerce {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    padding: 0;
    padding-right: 310px;
    width: 720px;

    margin-bottom: 47px;
  }
}
