@media (min-width: 320px) {
  .footer {
    position: relative;
  }
  .footer__line {
    position: absolute;
    content: "";
    top: 0;
    height: 1px;
    width: 100%;
    background: rgb(217, 255, 245);
  }
  .footer__content {
    padding: 17px 19px 19px 19px;
    display: flex;
    gap: 16px;
    flex-direction: column;

    color: rgb(126, 126, 130);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer__content {
    padding: 33px 24px 25px 24px;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
  .footer__dev {
    text-align: left;
    width: 260px;
  }
  .footer__policy {
    width: 230px;
  }
  .footer__offer {
    width: 230px;
    text-align: right;
  }
}

@media (min-width: 1440px) {
  .footer__offer {
    width: 340px;
  }
}
