@media (min-width: 320px) {
  .header {
    display: flex;
    align-items: center;
	padding: 19px 16px 16px 16px;

    height: 88px;
    background: rgb(255, 255, 255);
  }
  .header__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
    width: 40px;
    height: 40px;
    border-radius: 20px;

    background: rgb(255, 62, 121);
  }
  .header__logo {
    width: 97px;
    height: 51px;

    margin-right: 39px;
  }
  .header__items {
    display: flex;
	gap: 16px;
  }
  .item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
	border-radius: 20px;

	background: rgb(255, 62, 121);

  }
}
